{% extends "base.html"%}
{% load static %}


{% block content %}
<h1> Profile lists</h1>
<br/>

{% if profiles %}
{% for profile in profiles %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <!-- sayig if profile image exists, upload otherwise use defaultt -->
{% if profile.profile_image %}
<img src="{{profile.profile_image.url}}" width=200 height=200 class="card-img" alt="{{profile.user.username}}">
{% else %}
<img src="{% static "images/Microsoft_Account_Logo.svg.png" %}" class="card-img" alt="Profile Image">

{% endif %}


        
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profile.user.username}}</h5>
          <p class="card-text"><a href="{% url "profile" profile.user.id %}">@{{profile.user.username|lower}}</a></p>
          <br/><br/>
          <p class="card-text"><small class="text-muted">Last Updated:{{profile.date_modified}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>


<!-- values above are imported from the Profile model (models.py page) -->

<br/><br/>
{% endfor %}

{% endif %}
{% endblock %}