{% extends "base.html"%}


{% block content %}

<div class="card">
    <div class="card-header">
        <strong>{{customer_record.first_name}} {{customer_record.last_name}} </strong>
    </div>
    <div class="card-body">
         <p class="card-text"><Strong>Email:</Strong>{{customer_record.email}} <br/></p>
            <p class="card-text"> <Strong>Phone:</Strong>{{customer_record.phone}}<br/></p>
            <p class="card-text"><Strong>Address:</Strong>{{customer_record.address}} <br/></p>
        <p class="card-text"><Strong>City:</Strong>{{customer_record.city}} <br/></p>
        <p class="card-text"><Strong>State:</Strong>{{customer_record.state}}<br/></p>
        <p class="card-text"><Strong>Zipcode:</Strong>{{customer_record.zipcode}}<br/></p>
        <p class="card-text"><Strong>Created at:</Strong>{{customer_record.created_at}}<br/></p>
        <p class="card-text"><Strong>Id:</Strong>{{customer_record.id}} </p>
    </div>
  </div>



<br/><br/>
<a href="{% url "home" %}" class="btn btn-secondary">Back</a>
       
<a href="{% url "delete_record" customer_record.id %}" class="btn btn-danger">Delete</a>


<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>

{% endblock %}